@page
@model AdminConsole.Pages.Billing.Cancelled


@{
  ViewBag.Title = "Your checkout was cancelled";
}

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:px-6">
        <danger-alert-box message="Checkout was cancelled."></danger-alert-box>
    </div>
  <div class="px-4 py-5 sm:p-6">
      <!-- Content goes here -->
      <p>To try again, please visit our <a class="link-blue" asp-page="/billing/manage">Billing page</a>.</p>
  </div>
</div>
