@page
@using Passwordless.AdminConsole.TagHelpers
@model Passwordless.AdminConsole.Pages.Billing.InvoicesModel

@{
    ViewBag.Title = "Invoices - Billing";
}

<panel header="History">
    <div class="table-container">
        <table id="invoices-table" class="tbl-default min-w-full">
            <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Invoices.Any())
            {
                @foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td>@invoice.Number</td>
                        <td>@invoice.Date</td>
                        <td>@invoice.Amount</td>
                        <td>
                            <badge asp-if="invoice.Paid" variant="ColorVariant.Success" text="Paid"></badge>
                            <badge asp-if="!invoice.Paid" variant="ColorVariant.Danger" text="Pending"></badge>
                        </td>
                        <td>
                            <a href="@invoice.Pdf" target="_blank"><partial name="Shared/Icons/Download" /></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No invoices found.</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</panel>