@page
@model Passwordless.AdminConsole.Pages.Billing.Success

@{
  ViewBag.Title = "Your subscription has been upgraded";
}

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:px-6">
        <success-alert-box message="Successfully upgraded your organization."></success-alert-box>
    </div>
  <div class="px-4 py-5 sm:p-6">
      <!-- Content goes here -->
      <p>To make any changes your payment or retrieve your invoices, please visit our <a class="link-blue" asp-page="/billing/manage">Billing page</a>.</p>
  </div>
</div>
