@page "/app/{app}/Reporting"
@using Passwordless.AdminConsole.Services
@using Passwordless.Common.Models.Reporting
@using Passwordless.AdminConsole.Components.Pages.App.ReportingComponents;

@inject IScopedPasswordlessClient PasswordlessClient

<PageTitle>Reporting</PageTitle>

<div class="page-header-container">
    <h1>Reporting</h1>
</div>

<div class="page-content-container">
    <Panel Header="Filter">
        <EditForm id="filter-form" FormName="filter" class="flex items-end space-x-4" Model="Filter">
            <div class="flex-1">
                <label for="from-datepicker">From</label>
                <InputDate DisplayName="From" id="from-datepicker" Type="InputDateType.Date" @bind-Value="Filter.From" />
            </div>
            
            <div class="flex-1">
                <label for="to-datepicker">To</label>
                <InputDate DisplayName="To" id="to-datepicker" Type="InputDateType.Date" @bind-Value="Filter.To" />
            </div>
            
            <button id="filter-btn" class="btn btn-primary flex-1" type="submit">
                Filter
            </button>
        </EditForm>
    </Panel>
    <div class="gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <Panel Header="Total Credentials">
            <CascadingValue Value="@PeriodicCredentialReports">
                <TotalCredentialsCountChart />
            </CascadingValue>
        </Panel>
        <Panel Header="Total Users">
            <CascadingValue Value="@PeriodicCredentialReports">
                <TotalUsersCountChart />
            </CascadingValue>
        </Panel>
    </div>
</div>


@code {
    [Parameter]
    public string App { get; set; }

    [SupplyParameterFromForm] public FilterViewModel Filter { get; set; } = new();
    
    public Task<IEnumerable<PeriodicCredentialReportResponse>> PeriodicCredentialReports { get; set; }

    protected override Task OnInitializedAsync()
    {
        var req = new PeriodicCredentialReportRequest(Filter.From, Filter.To);
        PeriodicCredentialReports = PasswordlessClient.GetPeriodicCredentialReportsAsync(req);
        return Task.CompletedTask;
    }

    public class FilterViewModel
    {
        public DateTime? From { get; set; }
        public DateTime? To { get; set; }
    }
}