@page "/anonymous"
@attribute [AllowAnonymous]

<PageTitle>Welcome!</PageTitle>
<PageScript Src="./Components/Pages/Anonymous.razor.js"></PageScript>

<h1>Welcome to Blazor!</h1>
<button class="btn-primary">Tailwind Button</button>

<p>@message</p>

<ReleaseNotes />

<div id="chart">
    
</div>

@code {
    private string message = 
        "Hello from a Razor component and welcome to Blazor!";
}