@page "/welcome"

<PageTitle>Welcome friend!</PageTitle>

<AuthorizeView>
    <h1>Welcome @context.User.Identity!.Name</h1>
</AuthorizeView>

<p>@message</p>

<ReleaseNotes />

@code {
    private string message = 
        "Hello from a Razor component and welcome to Blazor!";
}