<PageTitle>@Title</PageTitle>

<div class="page-header-container">
    <BreadCrumb Items="@BreadCrumbItems" />
    <h1>@Title</h1>
</div>
<div class="page-content-container">
    @ChildContent
</div>

@code {
    [Parameter]
    public required string Title { get; set; }
    
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public IReadOnlyCollection<BreadCrumb.BreadCrumbItem>? BreadCrumbItems { get; set; }
}