<PageTitle>@Title</PageTitle>

<div class="page-header-container">
    <BreadCrumb Items="@BreadCrumbItems" />
    <h1 class="@TitleClass">@Title</h1>
</div>
<div class="page-content-container">
    @ChildContent
</div>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter] public bool HideTitle { get; set; } = false;
    
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public IReadOnlyCollection<BreadCrumb.BreadCrumbItem>? BreadCrumbItems { get; set; }
    
    private string? TitleClass => HideTitle ? "sr-only" : null;
}