<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <SecureStylesheet href="css/site.css" />
    <SecureStylesheet href="css/tailwind.css" />
    <HeadOutlet/>
    <SecureScript src="lib/passwordless/passwordless.umd.min.js" />
    <SecureImportMapScript Value="@ImportMap" />
</head>

<body class="h-full bg-gray-50">
    <Routes/>
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <SecureScript type="text/javascript" src="js/core.js" />
    <SecureScript type="module" src="js/confirm-form.mjs" />
    <SecureScript>
        Blazor.start({
        ssr: { disableDomPreservation: true }
        });
    </SecureScript>
</body>
</html>

@code {
    private static readonly SecureImportMapScript.Model ImportMap = new()
    {
        Imports = new Dictionary<string, string>
        {
            ["vue"] = "/lib/vue/vue.mjs"
        }
    };
}