<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <SecureStylesheet href="css/site.css" />
    <SecureStylesheet href="css/tailwind.css" />
    <HeadOutlet/>
</head>

<body class="h-full bg-gray-50">
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
    <SecureScript type="text/javascript" src="js/core.js" />
</body>
</html>