<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <BlazorStylesheet Href="css/site.css" />
    <BlazorStylesheet Href="css/tailwind.css" />
    <HeadOutlet/>
</head>

<body class="h-full bg-gray-50">
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
    <BlazorScript Type="text/javascript" Src="lib/apexcharts/apexcharts.min.js" />
    <BlazorScript Type="text/javascript" Src="js/core.js" />
</body>
</html>