<div class="m-4 border-2 p-3 bg-amber-50">
    <h3>We just released v1.0.55</h3>
    <p>You should take a look on <a href="https://github.com/passwordless/passwordless-server">Github Releases</a>!</p>
</div>
@code {
    
}