<div class="rounded-md p-4 my-3 bg-blue-50">
    <h3>We just released v1.0.55</h3>
    <p>You should take a look on <a href="https://github.com/passwordless/passwordless-server">Github Releases</a>!</p>
</div>
@code {
    
}