@using Fido2NetLib.Objects
@inject ICurrentContext CurrentContext;

@if (!CurrentContext.IsPendingDelete)
{
    <Panel Header="Authentication Configuration">
        <p>List of configurations for your authentication tokens. Read more in the <a class="link-blue underline" href="https://docs.passwordless.dev/guide/admin-console/applications.html#authentiation-scopes">docs</a></p>
        
        <EditForm class="flex" Model="Form" FormName="@(CreatePurposeFormName)" OnSubmit=""></EditForm>
    </Panel>
}

@code {
    public const string CreatePurposeFormName = "create-purpose-form";
    
    public CreatePurposeForm Form { get; set; }
    
    public sealed class CreatePurposeForm
    {
        public string Purpose { get; set; } = string.Empty;
        public UserVerificationRequirement UserVerificationRequirement { get; set; } = UserVerificationRequirement.Preferred;
        public TimeSpan TimeToLive { get; set; } = TimeSpan.FromMinutes(2);
    }
}