@page "/app/{AppId}/settings/authentication-configuration/new"
@using Passwordless.Common.Models.Apps
@using Fido2NetLib.Objects
@inherits BaseApplicationPage

@inject IScopedPasswordlessClient Passwordless
@inject ICurrentContext CurrentContext

<p>Create a new authentication configuration</p>
<AuthenticationConfigurationForm OnSubmitFunction="SaveNewAuthenticationConfiguration">
</AuthenticationConfigurationForm>

@code {
    private async Task SaveNewAuthenticationConfiguration(AuthenticationConfigurationForm.AuthenticationConfigurationFormModel formModel)
    {
        await Passwordless.CreateAuthenticationConfigurationAsync(new AuthenticationConfigurationDto
        {
            Purpose = new SignInPurpose(formModel.Purpose),
            UserVerificationRequirement = UserVerificationRequirement.Required,
            TimeToLive = formModel.TimeToLive,
            Tenant = CurrentContext.AppId!
        });
    }
}