@page "/app/{AppId}/settings/authentication-configuration/new"
@using Passwordless.Common.Models.Apps
@inherits BaseApplicationPage

@inject IScopedPasswordlessClient Passwordless
@inject NavigationManager NavigationManager

<p>Create a new authentication configuration</p>
<AuthenticationConfigurationForm OnSubmitFunction="SaveNewAuthenticationConfiguration">
</AuthenticationConfigurationForm>

@code {
    private async Task SaveNewAuthenticationConfiguration(AuthenticationConfigurationForm.AuthenticationConfigurationFormModel formModel)
    {
        await Passwordless.CreateAuthenticationConfigurationAsync(new SetAuthenticationConfigurationRequest
        {
            Purpose = formModel.Purpose,
            UserVerificationRequirement = formModel.UserVerificationRequirement,
            TimeToLive = formModel.TimeToLive
        });
        
        NavigationManager.NavigateTo("app/settings");
    }
}