@page
@model Passwordless.AdminConsole.Pages.Account.AccessDenied

@{
    ViewBag.Title = "Access Denied";
}

<p>Oh, this shouldn't happen</p>
<p>Sometimes it happens by misstake and you can <a class="link-blue" href="@Model.ReturnUrl">try again</a></p>
