@page
@using Microsoft.AspNetCore.Antiforgery
@using AdminConsole.Pages.Components.ManagePasskeys
@using Passwordless.AdminConsole.Pages.Components.ManagePasskeys
@model Passwordless.AdminConsole.Pages.Account.Profile
@inject IAntiforgery Antiforgery

@{
    ViewData["Title"] = "Profile Settings";
    var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<div>
    <h2 class="text-base font-semibold leading-6 text-gray-900 mb-3">Passkeys</h2>
    <partial name="_Credentials" model="new PasskeysModel { Credentials = Model.Credentials }"/>
    <partial name="Shared/_PasswordlessClientJs" />
    <partial name="Shared/_AddPasskeys" />
</div>
