@page
@using Microsoft.AspNetCore.Antiforgery
@model Passwordless.AdminConsole.Pages.Account.Profile
@inject IAntiforgery Antiforgery

@{
    ViewData["Title"] = "Profile Settings";
    var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<div class="panel">
    <h2>Passkeys</h2>   
    <component type="typeof(Credentials)" render-mode="Static" param-Items="@(Model.Credentials)" param-HideDetails="@(false)" />
    <partial name="Shared/_PasswordlessClientJs"/>
    <partial name="Shared/_AddPasskeys"/>
</div>