@page "/delete"
@model Passwordless.AdminConsole.Pages.App.Credentials.CredentialDeleteModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
  ViewData["Title"] = "Delete Credential";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<form method="post">
  <div class="bg-white shadow sm:rounded-lg max-w-fit">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Are you sure you want to delete the credential?</h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <p>This action cannot be undone.</p>
        <input class="hidden" aria-hidden="true" type="text" asp-for="CredentialId" />
      </div>
      <div class="mt-5">
        <button type="submit" class="btn-danger">Delete</button>
        <a asp-page="./List" class="ml-2 font-semibold text-xs text-primary-500 hover:text-blue-500">
          Back to List
        </a>
      </div>
    </div>
  </div>
</form>
