@page "/credentials/user/{userid}"
@model UserModel

@{
    ViewData["Title"] = "User Details";
}

<div id="vue">
    <p>This pages summarizes the information for user <partial name="_Badge" model="@Model.UserId"/></p>

    <partial name="Shared/_Credentials" model="Model.Credentials"/>
    
    <div class="sm:flex sm:items-center mt-8 mb-4">
        <div class="sm:flex-auto">
            <h2>Aliases</h2>
            @* <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p> *@
        </div>
    </div>
    <info-alert-box message="Please note that aliases that are hashed cannot be shown in plaintext."></info-alert-box>
    <div class="aliases">
        <ul class="list-disc mt-4">
            @foreach (var alias in Model.Aliases)
            {
        @* <i class="bi bi-trash3 link-danger"></i> *@
                @if (!string.IsNullOrEmpty(alias.Plaintext))
                {
                    <li class="ml-8">@alias.Plaintext</li>
                }
                else
                {
                    <li class="ml-8 italic">Hashed alias</li>
                }
            }
        </ul>
    </div>
</div>

<partial name="Shared/_PasswordlessClientJs"/>