@page "/billing/cancelled"

<Page Title="Your checkout was cancelled">
    <Panel>
        <Alert Style="@ContextualStyles.Danger">Checkout was cancelled.</Alert>
        <p>To try again, please visit our <a class="link-blue" href="/billing/manage">Billing page</a>.</p>
    </Panel>
</Page>
