@page

@attribute [Route(RoutingContants.Billing.Cancelled)

<Page Title="Your checkout was cancelled">
    <Panel>
        <Alert Style="@ContextualStyles.Danger">Checkout was cancelled.</Alert>
        <p>To try again, please visit our <a class="link-blue" href="@RoutingContants.Billing.Manage">Billing page</a>.</p>
    </Panel>
</Page>
