@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <!-- Render menu when authenticated -->
            <Authorized>
                <NavMenu />
            </Authorized>
            <!-- Don't show menu in anonymous state -->
            <NotAuthorized>
                Anonymous view
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
