@model Passwordless.AdminConsole.TagHelpers.FeedbackModel

<div class="rounded-md bg-red-50 p-4 my-3 max-w-fit">
    <div class="flex">
        <div class="flex-shrink-0">
            <danger-alert-icon></danger-alert-icon>
        </div>
        <div class="ml-3 text-red-800 flex justify-between">
            <p class="text-sm font-medium">@Model.Message</p>
            <p class="mt-3 text-sm md:ml-6 md:mt-0">
                <a href="@Model.LinkUrl" class="whitespace-nowrap font-medium text-red-700 hover:text-red-600">
                <span class="underline">@Model.LinkText</span>
                <span aria-hidden="true"> &rarr;</span>
                </a>
            </p>
        </div>
    </div>
</div>