@model AdminConsole.TagHelpers.FeedbackModel

<div class="rounded-md bg-red-50 p-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <danger-alert-icon></danger-alert-icon>
        </div>
        <div class="ml-3">
            <p class="text-sm font-medium text-red-800">@Model.Message</p>
        </div>
    </div>
</div>    