@page "/settings/secret-key-created"
@inject ICurrentContext CurrentContext
@using Passwordless.AdminConsole.Middleware
@model SecretKeyCreatedModel

@{
    ViewData["Title"] = "Secret Key Created";
}

<div class="panel">
    <copy-text title="Secret Key" value="@Model.ApiKey" type="password"></copy-text>
    <danger-alert-box message="Secret keys are only shown once. Not saving your secret key will require it to be recreated when lost."></danger-alert-box>
    <div>
        <a
            id="go-to-app-settings-btn"
            class="btn-primary"
            asp-page="/App/Settings/Settings"
            asp-route-app="@CurrentContext.AppId">
            Go To Application Settings
        </a>
    </div>
</div>