@page "/settings/secret-key-created"
@inject ICurrentContext CurrentContext
@using Passwordless.AdminConsole.Middleware
@using Passwordless.AdminConsole.TagHelpers.AlertBoxes
@using Passwordless.AdminConsole.Components.Shared.Forms
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SecretKeyCreatedModel

@{
    ViewData["Title"] = "Secret Key Created";
}

<div class="panel">
    <component render-mode="Static" type="typeof(CopyInputField)" param-Value="@Model.ApiKey" param-Title="@("Secret Key")" param-Type="@("password")"/>
    <danger-alert-box message="Secret keys are only shown once. Not saving your secret key will require it to be recreated when lost."></danger-alert-box>
    <div>
        <a
            id="go-to-app-settings-btn"
            class="btn-primary"
            asp-page="/App/Settings/Settings"
            asp-route-appId="@CurrentContext.AppId">
            Go To Application Settings
        </a>
    </div>
</div>