@page "/settings"
@using Passwordless.AdminConsole.Components.Pages.App.Settings.SettingsComponents
@model SettingsModel

@{
    ViewData["Title"] = "Settings";
}

<component type="typeof(PlanSection)" render-mode="Static" />

<component type="typeof(ApiKeysSection)" render-mode="Static" />

<div class="panel">
    <form method="post" asp-page-handler="Settings">
        <h2>Manually Generated Verification Tokens</h2>
        <p class="mt-3">
            Manually generated verification tokens have many uses in authentication. A primary use would be issuing a "magic link" for a
            user to log-in to their account in the event they've misplaced their passkey. Once the identity of the user has been
            verified, you can send them a hyperlink that contains the token issued by <code>signin/generate-token</code>.
        </p>
        <label asp-for="IsManualTokenGenerationEnabled">
            <input class="mr-1 my-4" type="checkbox" asp-for="IsManualTokenGenerationEnabled"/>
            Enable Manually Generated Verification Tokens
        </label>
        <br>
        <h2>Magic Links</h2>
        <p class="mt-3">
            Magic Links provide a secure and user-friendly way to authenticate users in applications. While onboarding new
            users into your application or in the event of account recovery, a Magic Link can be sent via email to gain access
            to the system. This removes the friction of verifying users and resetting passkeys, enhancing the user experience.
        </p>
        <label asp-for="IsMagicLinksEnabled">
            <input class="mr-1 my-4" type="checkbox" asp-for="IsMagicLinksEnabled"/>
            Enable Magic Links
        </label>
        <br>
        <button id="btn-save-settings" class="btn-primary" type="submit">Save</button>
    </form>
</div>

@if (Model.IsAttestationAllowed)
{
    <component type="typeof(AttestationSection)" render-mode="Static" />
}

<component type="typeof(AuthenticationConfiguration)" render-mode="Static" />

<panel header="Delete Application">
    @if (Model.PendingDelete)
    {
        <form method="post" asp-page-handler="Cancel">
            <danger-alert-box message="'@Model.ApplicationId' will be deleted on '@Model.DeleteAt?.ToString("g") UTC'. If you would like to cancel this action, click 'Cancel'."></danger-alert-box>
            <button id="btn-cancel-delete" class="btn-secondary mt-3" type="submit">Cancel</button>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Delete">
            @if (!Model.CanDeleteImmediately)
            {
                <p>
                    Because your application contains credentials, <strong>you cannot delete it immediately</strong>. Instead, the following will happen once you choose to delete the application:
                </p>

                <ul role="list" class="list-decimal list-inside my-2">
                    <li class="">No data will be deleted immediately.</li>
                    <li>Your API Keys will be frozen - meaning no authentication calls can be made.</li>
                    <li>Admins can cancel the process at any time. The API will return to normal behavior.</li>
                    <li>If the process has not been aborted within 30 days, data will be deleted permanently.</li>
                </ul>
            }

            <div id="deleteApplication"></div>
        </form>
    }
</panel>

@section Scripts
{
    <script type="module">
    import { createApp } from 'vue';
    import DeleteApplication from '@Url.Content("~/js/deleteapplication.mjs")';

    createApp(DeleteApplication, {
        appId: "@(Model.ApplicationId)"
    }).mount('#deleteApplication');

    </script>
}
