@attribute [CascadingTypeParameter(nameof(TXCategory))]
@typeparam TXCategory

@inject IHttpContextAccessor HttpContextAccessor

<div id="@Id"></div>

<script type="module" nonce="@HttpContextAccessor.HttpContext!.Items["csp-nonce"]">
    let options = {
            chart: {
                type: 'line'
            },
            series: [{
                name: '@SeriesName',
                data: @JsonSerializer.Serialize(Series)
            }],
            xaxis: {
                type: 'datetime',
                categories: @((MarkupString)JsonSerializer.Serialize(XCategories))
            },
            colors:['#2563eb']
        }
        
        let chart = new ApexCharts(document.querySelector("#@Id"), options);
        
        chart.render();
</script>

@code {
    /**
     * The HTML element id of the chart.
     */
    [Parameter]
    public required string Id { get; set; }

    /**
     * The X axis categories of the chart.
     */
    [Parameter]
    public required IEnumerable<TXCategory> XCategories { get; set; }
    
    [Parameter]
    public required string SeriesName { get; set; }

    [Parameter]
    public required IEnumerable<int> Series { get; set; }
}