<button
    @attributes="AdditionalAttributes"
    confirm-title="@ConfirmTitle"
    confirm-description="@ConfirmDescription"
    confirm-button-text="@ConfirmButtonText"
    cancel-button-text="@CancelButtonText">
    @ChildContent
</button>