@inherits BaseRazorComponent

<a class="@Class" href="">
    @if (IsDesktop.HasValue)
    {
        if (IsDesktop.Value)
        {
            <LogoFull />
        }
        else
        {
            <LogoMobile />
        }
    }
    else
    {
        <LogoFull Class="hidden lg:block"/>
        <LogoMobile Class="lg:hidden"/>
    }
</a>

@code
{
    /// <summary>
    /// When set, it either renders the full-sized logo or the mobile-sized logo.
    /// When not set, it renders both, but hides the one that is not appropriate for the current screen size.
    /// </summary>
    [Parameter]
    public bool? IsDesktop { get; set; }
}