@inherits BaseRazorComponent

<a class="@Class" href="">
    @if (IsDesktop.HasValue)
    {
        if (IsDesktop.Value)
        {
            <LogoFull />
        }
        else
        {
            <LogoMobile />
        }
    }
    else
    {
        <LogoFull Class="hidden lg:block"/>
        <LogoMobile Class="lg:hidden"/>
    }
</a>

@code
{
    [Parameter]
    public bool? IsDesktop { get; set; }
}