@using Passwordless.Common.Extensions
@inject IHttpContextAccessor HttpContextAccessor

<a @attributes="AdditionalAttributes" href="@HttpContextAccessor.HttpContext!.Request.GetBaseUrl()">
    @switch (Size)
    {
        case Sizes.Small:
            <LogoMobile class="block" />
            break;
        case Sizes.Large:
            <LogoFull class="block" />
            break;
        default:
            <LogoFull class="hidden lg:block"/>
            <LogoMobile class="lg:hidden"/>
            break;
    }
</a>

@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    [Parameter]
    public Sizes? Size { get; set; }
    
    public enum Sizes
    {
        Small,
        Large
    }
}