@page
@using Microsoft.AspNetCore.Authorization
@model Passwordless.AdminConsole.Pages.Organization.Create
@attribute [AllowAnonymous]
@{
    ViewData["Title"] = "Create an organization";
}

<style>
    .passkey-info {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
</style>

<div class="sm:w-full sm:flex items-start space-x-4">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" action="" method="POST">
            <div>
                <label for="orgName" class="block text-sm font-medium leading-6 text-gray-900">Organization name</label>
                <div class="mt-2">
                    <input placeholder="Panucci's Pizza Inc" asp-for="Form.OrgName" class="text-input">
                    <span asp-validation-for="Form.OrgName"></span>
                </div>
            </div>


            <div>
                <label asp-for="Form.AdminName" class="block text-sm font-medium leading-6 text-gray-900">Admin name</label>
                <div class="mt-2">
                    <input placeholder="Philip J. Fry" type="text" asp-for="Form.AdminName" class="text-input">
                    <span asp-validation-for="Form.AdminName"></span>
                </div>
            </div>

            <div>
                <label asp-for="Form.AdminEmail" class="block text-sm font-medium leading-6 text-gray-900">Admin email</label>
                <div class="mt-2">
                    <input placeholder="pjfry@@example.org" type="text" asp-for="Form.AdminEmail" class="text-input">
                    <span asp-validation-for="Form.AdminEmail"></span>
                </div>
            </div>


            <div>
                <label class="text-sm font-medium text-gray-900">I’m building applications for:</label>

                <fieldset class="mt-4">
                    <legend class="sr-only">I’m building applications for:</legend>
                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                        <div class="radio-control">
                            <input asp-for="Form.OrgType" id="OrgTypePersonal" value="personal" type="radio" checked class="radio-input">
                            <label for="OrgTypePersonal" class="radio-label">Myself</label>
                        </div>

                        <div class="radio-control">
                            <input asp-for="Form.OrgType" id="OrgTypeCompany" value="company" type="radio" class="radio-input">
                            <label for="OrgTypeCompany" class="radio-label">My company</label>
                        </div>
                    </div>

                    <span asp-validation-for="Form.OrgType"></span>
                </fieldset>
            </div>

            <div>
                <label class="text-sm font-medium text-gray-900">I'm building passwordless authentication for:</label>

                <fieldset class="mt-4">
                    <legend class="sr-only">How will you use passwordless.dev?</legend>
                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                        <div class="radio-control">
                            <input asp-for="Form.UseCase" id="UseCaseCustomers" value="customers" type="radio" checked class="radio-input">
                            <label asp-for="Form.UseCase" for="UseCaseCustomers" class="radio-label">Users</label>
                        </div>

                        <div class="radio-control">
                            <input asp-for="Form.UseCase" id="UseCaseEmployees" value="employees" type="radio" class="radio-input">
                            <label asp-for="Form.UseCase" for="UseCaseEmployees" class="radio-label">Employees</label>
                        </div>

                        <div class="radio-control">
                            <input asp-for="Form.UseCase" id="UseCaseBoth" value="both" type="radio" class="radio-input">
                            <label asp-for="Form.UseCase" for="UseCaseBoth" class="radio-label">Both</label>
                        </div>
                        <span asp-validation-for="Form.UseCase"></span>

                    </div>
                </fieldset>
            </div>

            <div class="relative flex items-start">
                <div class="h-6 items-center">
                    <input aria-describedby="tos-description" asp-for="Form.AcceptsTermsAndPrivacy" type="checkbox">
                </div>
                <div class="ml-3 text-sm leading-6">
                    <label asp-for="Form.AcceptsTermsAndPrivacy" class="font-medium text-gray-900">I agree to the <a href="https://bitwarden.com/terms/" class="link-blue" target="_blank">Terms and Conditions</a> and the <a href="https://bitwarden.com/privacy/" class="link-blue" target="_blank">Privacy Policy</a></label>
                </div>
            </div>

            <label class="passkey-info" asp-for="Form.OrgPurpose">
                What is the purpose of your organization?
                <input class="passkey-info" autocomplete="off" type="text" asp-for="Form.OrgPurpose" tabindex="-1"/>
            </label>

            <label class="passkey-info" asp-for="Form.UsePasskeys">
                Would you like to use passkeys?
                <input class="passkey-info" autocomplete="off" type="checkbox" asp-for="Form.UsePasskeys" tabindex="-1" />
            </label>

            <span asp-validation-for="Form.AcceptsTermsAndPrivacy"></span>

            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <button type="submit" class="btn-form">Create</button>
            </div>

            <p class="text-sm">After creating your account, we will send an email with a magic link to sign you in.</p>
        </form>
    </div>

    <div class="p-8">
        <div class="text-2xl font-medium">Try out Passwordless.dev with a free account</div>

        <div class="mt-2 text-lg font-light">
            Create an organization to start integrating Bitwarden Passwordless.dev with your apps, inviting admins, and using the API.
        </div>

        <div class="flex mt-6 space-x-3">
            <div class="self-center grow">
                <img class="w-24" src="/img/tag1.svg" />
            </div>
            <div class="basis-full">
                <div class="font-medium">Standards-based, and phishing-resistant</div>
                <p>Use open source and modern browser standards to create FIDO2 WebAuthn applications such as Face ID, fingerprint, and Windows Hello for your customers, end users, and teams.</p>
            </div>
        </div>

        <div class="flex mt-4 space-x-3">
            <div class="self-center grow">
                <img class="w-24" src="/img/tag2.svg" />
            </div>
            <div class="basis-full">
                <div class="font-medium">Add passkeys to existing authentication platforms</div>
                <p>Bitwarden Passwordless.dev works well with common authentication solutions, allowing you to adopt passkey features without the need to recode or replace.</p>
            </div>
        </div>

        <div class="flex mt-4 space-x-3">
            <div class="self-center grow">
                <img class="w-24" src="/img/tag3.svg" />
            </div>
            <div class="basis-full">
                <div class="font-medium">Centralized passkey management</div>
                <p>Bitwarden Passwordless.dev offers a dedicated admin console to help you easily manage your passkeys, applications, users, and more, all in one place.</p>
            </div>
        </div>

        <div class="flex mt-4 space-x-3">
            <div class="self-center grow">
                <img class="w-24" src="/img/tag4.svg" />
            </div>
            <div class="basis-full">
                <div class="font-medium">Security that’s tested and validated</div>
                <p>Thorough, third party assessments of the Bitwarden Passwordless.dev open source code, documentation, and processes help ensure your data is always secure.</p>
            </div>
        </div>

        <div class="mt-6 font-sm">Many of Passwordless.dev's features are available for free. Check out <a class="link-blue" href="https://bitwarden.com/products/passwordless/#pricing" target="_blank">the pricing page</a> for more information about our paid offerings.</div>
    </div>
</div>