@page
@using Microsoft.AspNetCore.Authorization
@model Join
@attribute [AllowAnonymous]
@{
    ViewBag.Title = "Join an organization";
}

@if (Model.Invite == null)
{
    <div asp-validation-summary="All"></div>
}
else
{
    <div class="sm:w-full sm:max-w-xl">
        <p>You've been invited by @Model.Invite.FromName (@Model.Invite.FromEmail) to join @Model.Invite.TargetOrgName.</p>
        <div class="rounded-md bg-blue-50 p-4 mt-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="ml-3 flex-1 md:flex md:justify-between">
                    <p class="text-sm text-blue-700">Please make sure to <strong>use a unique email address</strong> that is not already connected to an organization.</p>
                </div>
            </div>
        </div>

        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 mt-4">
            <form method="post" class="space-y-6">

                <div>
                    <label asp-for="Form.Name" class="block text-sm font-medium leading-6 text-gray-900">Admin Name</label>
                    <div class="mt-2">
                        <input placeholder="Philip J. Fry" type="text" asp-for="Form.Name" class="text-input">
                        <span asp-validation-for="Form.Name"></span>
                    </div>
                </div>

                <div>
                    <label asp-for="Form.Email" class="block text-sm font-medium leading-6 text-gray-900">Admin Email</label>
                    <div class="mt-2">
                        <input placeholder="pjfry@@example.org" type="text" asp-for="Form.Email" class="text-input">
                        <span asp-validation-for="Form.Email"></span>
                    </div>
                </div>

                <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                        <input aria-describedby="tos-description" asp-for="Form.AcceptsTermsAndPrivacy" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="Form.AcceptsTermsAndPrivacy" class="font-medium text-gray-900">I agree to the <a href="https://bitwarden.com/terms/" class="link-blue" target="_blank">Terms and Conditions</a> and the <a href="https://bitwarden.com/privacy/" class="link-blue" target="_blank">Privacy Policy</a></label>
                    </div>
                </div>

                <input type="hidden" asp-for="Form.Code"/>
                <div>
                    <button type="submit" class="btn-form">Join</button>
                </div>
            </form>
        </div>
    </div>
}