@page
@model SettingsModel
@{
    ViewData["Title"] = "Organization Settings";
}

<h2 class="h2">Danger Zone</h2>
<div class="bg-white shadow sm:rounded-lg px-4 py-5 sm:p-6">
    @if (Model.CanDelete)
    {
        <form method="post" asp-page-handler="Delete">
            <p>Unexpected bad things will happen if you don’t read this:</p>
            <ul role="list" class="list-disc list-inside my-2">
                <li>Active subscriptions will be canceled and will not be automatically renewed.</li>
                <li>This will permanently delete the organization <strong>'@Model.Name'</strong>.</li>
                <li>All related data to the organization will be deleted: Settings, audit logs, developer logs or any related event logs.</li>
            </ul>
            <div class="flex rounded-md my-2">
                <input asp-for="NameConfirmation" type="text" class="block font-mono rounded-none rounded-l-md border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                <button type="submit" class="btn-danger rounded-l-none disabled:opacity-25">Delete</button>
            </div>
            <div asp-validation-summary="ModelOnly" class="max-w-fit my-2"></div>
        </form>
    }
    else
    {
        <p>Your organization '@Model.Name' has @Model.ApplicationsCount application(s) that are active or pending deletion.</p>
        <p>You can only delete an organization when you have no applications.</p>
    }
</div>