@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options
@using Passwordless.Common.Services.Mail
@inject IOptions<FileMailProviderConfiguration> MailOptions
@model Passwordless.AdminConsole.Pages.Organization.Verify
@attribute [AllowAnonymous]
@{
    ViewData["Title"] = "Verify your account";
}

@section Head {
    @* This to refresh the page to check if the user has verified and logged in *@
    <meta http-equiv="refresh" content="15" />
}

<div class="flex flex-col items-center py-10">
    <span class="p-4 text-white rounded-full" style="background-color: #1252A3;">
        <partial name="Shared/Icons/Mail" />
    </span>
    <h2 class="mt-6 mb-8 text-center">Check your email to verify your account</h2>
    <p class="mt-4 text-center">We've sent a confirmation link to the email address you provided. Click on the link in the email to verify your account</p>
</div>

<environment names="Development">
    @{
        var mailPath = System.IO.Path.GetFullPath(MailOptions.Value.Path ?? FileMailProvider.DefaultPath);
    }

    <div>
        <p>
            <b>Development mode:</b> Email history is saved to <code>@mailPath</code> and displayed below.
        </p>

        <pre class="mt-4 text-wrap break-all"><code>@await System.IO.File.ReadAllTextAsync(mailPath)</code></pre>
    </div>
</environment>
