@page
@using Microsoft.AspNetCore.Authorization
@model Verify
@attribute [AllowAnonymous]
@{
    ViewData["Title"] = "Verify your account";
}

<p>We've sent a confirmation link to the email address you provided. Click on the link in the email to verify your account</p>