@page
@using Microsoft.AspNetCore.Authorization
@model Verify
@attribute [AllowAnonymous]
@{
    ViewData["Title"] = "Verify your email";
}

<p>We've sent you an email to confirm your email. Follow the link in this email to verify your account.</p>