@page
@using Microsoft.AspNetCore.Authorization
@model Verify
@attribute [AllowAnonymous]
@{
    ViewData["Title"] = "Verify your account";
}

<p>We've sent a confirmation link to the email address you provided. Click on the link in the email to verify your account</p>

<environment names="Development">
    @{
        var mailPath = System.IO.Path.GetFullPath("mail.md");
    }
    <br />
    <b>Development mode: </b> Please open the the <code>src/AdminConsole/mail.md</code> file.
    <br />
    <a class="link-blue" href="vscode://file/@mailPath">Open with VS Code: @mailPath</a>
</environment>