<div class="summary-property">
    <dt class="property-label">Created:</dt>
    <dd class="property-label">
        @if (Value is DateTime)
        {
            <LocalDateTime Value="@((DateTime)Value)" />
        }
        else{
            @Value
        }
        
    </dd>
</div>

@code {
    [Parameter] public required string Label { get; set; }

    [Parameter] public required object Value { get; set; }
}