<div class="card">
    <div class="px-4 py-5 sm:px-6">
        <h3>@Title</h3>
        @if (!string.IsNullOrWhiteSpace(SubTitle))
        {
            <p class="subtitle">@SubTitle</p>
        }
        @if (ChildContent != null)
        {
            <dl class="credential-card-summary-footer">
                @ChildContent
            </dl>
        }
    </div>
</div>

@code {
    [Parameter] public required string Title { get; set; }

    [Parameter] public string? SubTitle { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
}