name: Migrations

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:

env:
  # Setting these variables allows .NET CLI to use rich color codes in console output
  TERM: xterm
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: true
  # Skip boilerplate output
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  script:
    name: Generate idempotent migrations
    strategy:
      matrix:
        app:
          - Api
          - AdminConsole
        include:
          - app: Api
            ef-context: DbGlobalMsSqlContext
          - app: AdminConsole
            ef-context: MssqlConsoleDbContext

    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0

      - name: Install Entity Framework toolkit
        run: dotnet tool install dotnet-ef --global

      - name: Restore
        run: dotnet restore src/${{ matrix.app }}

      - name: Generate script
        run: >
          dotnet ef migrations script
          --configuration Release
          --project src/${{ matrix.app }}
          --context ${{ matrix.ef-context }}
          --idempotent
          --output ${{ matrix.app }}.sql

      - name: Upload artifacts
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: ${{ matrix.app }}-${{ matrix.ef-context }}
          path: ${{ matrix.app }}.sql

      - name: Produce summary
        run: |
          {
            echo "### Idempotent migrations for ${{ matrix.app }} (${{ matrix.ef-context }})" 
            echo "\`\`\`sql"
            cat ${{ matrix.app }}.sql
            echo "\`\`\`"
          } >> "$GITHUB_STEP_SUMMARY"